[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "db2pq"]
	path = db2pq
	url = https://github.com/iangow/db2pqr
[submodule "farr"]
	path = farr
	url = https://github.com/iangow/farr
